
.container-tabs {
    width: 100%;
    padding: 28% 5% 10% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85%;
}

.tab {
    margin: 20px auto;
    max-width: 1000px;
    width: 95%;
}

.tab .tab-headers {
    display: flex;
    flex-wrap: wrap;
    
}

.tab .tab-headers .tab-header {
    position: relative;
    padding: 0px 9px;
    height: 60px;
    line-height: 50px;
    z-index: 2;
    cursor: pointer;
    color: #222;
    font-weight: 600;
}

.tab .tab-headers .tab-header:before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 25px;
    height: 4px;
    background: #888;
    border-radius: 10px;
}
.tab .tab-headers .tab-header.active {
    color: #5c569a;
    border: 1px solid #5c569a;
    border-bottom: none;
    box-shadow: 1px 0px 4px 1px rgba(117,117,117,0.6);
}
.tab .tab-headers .tab-header.active:before {
    background: #5c569a;
}

.tab .tab-body {
    padding: 30px 20px;
    border: 1px solid #5c569a;
}

.tab-body.active:before {
    border: 1px solid #5c569a;
}

.tab .tab-body > h2 {
    color: #222;
    margin-bottom: 15px;
}

.tab .tab-body > span {
    color: #222;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 40px;
}

/* @media only screen and (min-width: 400px) {
    .container-tabs {
        margin-top: 37%;
    }
} */

@media only screen and (min-width: 600px) {
    .container-tabs {
        margin-top: 0%;
        height: auto;
        padding: 10% 6% 10% 6%;
    }
    .tab {
        margin: 0;
        max-width: none;
        width: 100%;
    }
}