@import '../styles/variables.scss';

.contact-section {
    .container-section {
        width: 100%;
        height: 70vh;
        background-color: $third-color;
        padding: 5% 7% 5% 7%;

        .content {
            display: flex;
            flex-direction: column;

            .cont-header {
                .title-section {
                    font-size: 2rem;
                    font-weight: bold;
                    font-family: $lato-sans;
                }

                .part2 {
                    font-style: italic;
                }

                .subtitle-section {
                    font-family: $lato-sans;
                    color: $gray-color;
                }
            }
        }

        .content-data {
            width: 100%;
            height: auto;
            padding-top: 15px;
            padding-bottom: 15px;

            .contact-card {
                height: auto;
                margin-bottom: 15px;
                display: flex;
                justify-content: center;

                align-items: center;

                .contact-text-container {
                    width: 450px;
                    padding: 20px;
                    border: 1px solid #fff;
                    color: #fff;
                    line-height: 45px;
                    font-size: 20px;

                    .title-card {
                        font-weight: bolder;
                        font-size: 30px;
                        color: #fff;
                    }

                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .contact-section {
        .container-section {
            .content {
                width: 100%;
                flex-direction: row;
                align-items: center;

                .cont-header {
                    margin-right: 15px;
                    align-items: center;

                    .title-section {
                        font-size: 3rem;
                    }
                }
            }

            .content-data {
                width: 100%;
                height: auto;
                display: flex;

                .contact-card {
                    width: 500px;
                    height: auto;
                    margin-bottom: 15px;

                    .title-card {
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}