@import '../styles/variables.scss';

.parent-container {
    position: relative;
    text-align: center;
    color: white;
}

.img {
    width: 100%;
    width: 100%;
    margin-top: -5px;
}

.container-projects {
    display: none;
}

.container-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    .content {
        width: 100%;
        padding: 2%;
        height: auto;
        .img-1 {
            width: 70%;
        }
        .title-about {
            font-size: 25px;
            font-weight: bold;
        }
    }
    .left {
        background-color: $third-color;
        opacity: 0.9;
    }
}

@media only screen and (min-width: 600px) {
    .container-project {
        flex-direction: row;
        padding: 8%;
        .content {
            width: 50%;
            .img-1 {
                width: 100%;
            }
            .title-about {
                font-size: 48px;
                line-height: 40px;
                font-weight: bold;
            }
        }
        .left {
            background-color: $third-color;
            opacity: 0.7;
        }
    }
    .container-projects {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        margin-top: -3px;
        display: flex;
        justify-content: center;
        align-items: center;
        .img-2 {
            width: 100%;
        }
    }

    .container-list {
        width: 100%;
        position: absolute;
        height: auto;
        display: flex;
        justify-content: center;
        .card{
            width: auto;
            height: 150px;
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 25px;
            .text-card {
                font-size: 25px;
                color: white;
                font-weight: bolder;
            }
        }
    }
}