.who-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .bg {
        background-image: url('../assets/bg-2.jpg');
        width: 100%;
        height: 100vh;
        background-size: cover;
        position: absolute;
        background-repeat: repeat;
        z-index: -9999;
        background-position-x: 40%;
    }

    .header-section {
        font-weight: bolder;
        font-size: 31px;
        color: white;
    }

    .title {
        font-weight: 800;
        color: white;
        font-size: 14px;
    }

    .text {
        color: white;
        font-size: 18px;
        line-height: 28px;
    }
    .hide-content {
        display: none;
    }
}

@media only screen and (min-width: 420px) {
    .who-section {
        .bg {
            background-position-y: 80%;
        }
        .header-section {
            font-weight: bolder;
            font-size: 50px;
            color: white;
        }
    
        .title {
            font-weight: 800;
            color: white;
            font-size: 24px;
        }
    
        .text {
            color: white;
            font-size: 22px;
            line-height: 36px;
        }
    }
}