.who-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .bg {
        background-image: url('../assets/bg-2.jpg');
        width: 100%;
        height: 100%;
        background-size: cover;
        position: absolute;
        //background-position-x: 40%;
        z-index: -9999;
    }

    .header-section {
        font-weight: bolder;
        font-size: 31px;
        color: white;
    }

    .title {
        font-weight: 800;
        color: white;
        font-size: 14px;
    }

    .text {
        color: white;
        font-size: 18px;
        line-height: 22px;
    }
}

@media only screen and (min-width: 420px) {
    .who-section {
        height: 100vh;
        padding-bottom: 0px;
        padding-top: 0px;
        background-color: none;
        .bg {
            height: 100vh;
            background-position-y: 80%;
        }
        .header-section {
            font-weight: bolder;
            font-size: 50px;
            color: white;
        }
    
        .title {
            font-weight: 800;
            color: white;
            font-size: 24px;
        }
    
        .text {
            color: white;
            font-size: 22px;
            line-height: 36px;
        }
    }
}